<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/images/favicon.ico" rel="icon">

    <title>jer quiz</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./try_again" title="">בחזרה לשאלה</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2" style="text-align:center">תשובה</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
 <p><img alt="&quot;הוראות לשימוש במים בתקופת המצור בירושלים&quot;" src=".../static/assets/images/water.jpg" title="הוראות לשימוש במים בתקופת המצור בירושלים" /></p>
<p dir="rtl">
במהלך המצור על ירושלים בימי מלחמת העצמאות הונהג קיצוב חמור על אספקת המים לתושבים בשלב הראשון הוקצו 7.5 ליטרים ולאחר שנכבשו שכונות ערביות רבות עם בורות המים שבהם הקיצוב עלה ל-10 ליטרים לאדם ליום.
ביטוי למצוקת המים בזמן המצור נתן המשורר דן אלמגור בשירו "כוס אחת של מים":

<p dir="rtl">
הייתה לי כוס אחת של מים,
<p dir="rtl">
היה זה במצור בעיר ירושלים. 
<p dir="rtl">
לגמתי מן הכוס טיפה אחת או שתיים 
<p dir="rtl">
(...) 
<p dir="rtl">
צחצחתי את שיניי ובשארית המים 
<p dir="rtl">
כיבסתי מכנסיי פעם בחודשיים 
<p dir="rtl">
(...) 
<p dir="rtl">
את הסמרטוט הלח סחטתי בידיים, 
<p dir="rtl">
השקיתי בעציץ שושן אחד אפילו שניים, 
<p dir="rtl">
היה זה במצור בעיר ירושלים."                     </div>

                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer-container text-center">
<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="{{ url_for( 'nextq' ,page_number= 2 ) }}" class="btn btn-default btn-sm">שאלה הבאה</a></p>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });

</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>

