<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/images/favicon.ico" rel="icon">

    <title>jer quiz</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./try_again" title="">בחזרה לשאלה</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2" style="text-align:center">תשובה</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
 <p><img alt="&quot; &quot;" src=".../static/assets/images/misdar.jpg" title="מסדר הכותל" /></p>
<p dir="rtl">
ב-8 ביוני, תוך כדי הלחימה, כאשר הגיעו חיילי צה"ל לכותל, כבר החלו הפעולות לנצל את תנופת הניצחון ולקבוע עובדות בשטח כדי להכין את האתר לקראת עצרת עם גדולה בחג השבועות הקרב. ראש העיר, טדי קולק, ואל"מ שלמה להט (צ'יץ) סברו שבגלל הרגישויות הפוליטיות של המעשה יש להטיל את משימת הריסת שכונת המוגרבים והכשרת רחבה על גוף אזרחי. חמישה עשר מוותיקי הקבלנים בירושלים נרתמו למבצע והגיעו במוצאי שבת, 10 ביוני, לסמטת הכותל. </p>

<p dir="rtl">
״בהתחשב עם קדושת השבת, עם צאת השבת קבלתי פקודה להתחיל בפינוי הרחבה בנוכחותם של ראש העיר, סגניו, מהנדס העיר וקבוצת הקבלנים. מר ז. פרוסק נתכבד בברכת הבדלה כאשר הנוכחים לא יכלו להסתיר את התרגשותם ודמעות שמחה הרטיבו את פניהם ואחרי זאת החלו הפטישים להלום תוך שירה והתרוממות הנפש.„ (מכתב של איתן בן-משה למהנדס לוי דובקין, 1971, אלבום איתן בן-משה)</p>

<p dir="rtl">
המשתתפים התכנסו לפנות בוקר לתמונה קבוצתית על רקע הכותל. ברוך ברקאי, הכריז על הקמת 'מסדר הכותל' שעם חבריו נמנו חמישה עשר הקבלנים המתנדבים. הם ראו את עצמם כ'מטהרי המקדש' והמשיכו להיפגש עוד עשרות שנים.                     </div>

                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer-container text-center">
<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><a href="{{ url_for( 'nextq' ,page_number= 7 ) }}" class="btn btn-default btn-sm">שאלה הבאה</a></p>
            </div>
        </div>
    </div>
    </div>
    </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });

</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>

