<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/images/favicon.ico" rel="icon">

    <title>jer quiz</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
    <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li><a href="./try_again" title="">בחזרה לשאלה</a></li>
                </ul>


            </div>
        </div>
    </nav>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2" style="text-align:center">תשובה</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p dir="rtl">
                            תשעת המכובדים הוא הכינוי שניתן לתשע דמויות היסטוריות בהן מגולם אידיאל האבירות של ימי
                            הביניים. ברשימה ניתן למצוא שלושה פגאנים; הקטור, אלכסנדר הגדול ויוליוס קיסר שלושה יהודים;
                            יהושע בן נון, דוד המלך ויהודה המכבי ושלושה נוצרים; קרל הגדול המלך ארתור וגוטפריד מבויון.
                        <p dir="rtl">
                            אלכסנדר הגדול כבש בסערה כמעט את כל העולם הידוע ובכלל זה את ארץ ישראל וירושלים.
                        <p dir="rtl">
                            יוליוס קיסר היה הקיסר של האימפריה הרומית ששלטה בירושלים.
                        <p dir="rtl">
                            יהושע בן נון נלחם במלך ירושלים כחלק מהמלחמה שלו בחמשת מלכי הדרום.
                        <p dir="rtl">
                            דוד כבש את ירושלים מידי היבוסים.
                        <p dir="rtl">
                            יהודה המכבי כבש את ירושלים מידי הסלווקים.
                        <p dir="rtl">
                            גוטפריד מבויון היה ממנהיגי מסע הצלב הראשון והתמנה להיות "שומר המקומות הקדושים" לאחר שכבש את
                            ירושלים מידי המוסלמים ששלטו בה.
                        <p dir="rtl">
                            הקטור, המלך ארתור וקרל הגדול למרות כל כבודם ואביריותם לא התקרבו לירושלים.
                        <p dir="rtl">
                            שלמה המלך, ריצ'רד לב הארי ואכילס לא נמנים עם תשעת המכובדים של ימי הביניים למרות ששלמה שלט
                            בירושלים וגם ריצ'רד לב הארי ניסה לכבוש את העיר אך נכשל.

                    <p><img class="img-responsive" alt="תשעה מלכים אחרים לא כל כך מכובדים" src="./static/assets/images/The Nine Nazgul.png" title="תשע דמויות מסתוריות"/</div>

                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer-container text-center">
    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p><a href="{{ url_for('nextq' ,page_number=9) }}" class="btn btn-default btn-sm">שאלה הבאה</a></p>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer>
    <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });


    </script>
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>

