<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/images/favicon.ico" rel="icon">

    <title>jer quiz</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2" style="text-align:"> חידון יום (חורבן) ירושלים </h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p>
                        <p dir="rtl">
                            בספר תהלים צמד המילים "יום ירושלים" מתאר את יום חורבנה של ירושלים. לאחר המשובים החיוביים
                            שקיבלתי על חידון "יום (שחרור) ירושלים" שעשיתי החלטתי לחבר חידון נוסף עם 10 שאלות הקשורות
                            לחורבן וירושלים מכיוונים שונים. השאלות לא קלות ובשביל לענות עליהן יש צורך ביצירתיות, מחשבה
                            וחיפוש באינטרנט.
                        </p>

                        </p>
                        <p>
                        <p dir="rtl">
                            מטרת החידון היא *לא* לבחון את הידע! המטרה היא ללמוד דברים חדשים שלא ידעתם.</p>

                        </p>
                        <p>
                        <p dir="rtl">
                            בהצלחה! רותם הדר</p>

                        </p>
                        <p>
                        <p dir="rtl">
                            rotemhadar@gmail.com</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<footer class="footer-container text-center">
    <footer class="footer-container text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--  ↓↓לעדכן את מספר הדף↓↓  -->
                    <p><a href="{{ url_for('nextq' ,page_number= 0) }}" class="btn btn-primary btn-lg">התחל במבחן</a></p>
                </div>
            </div>
        </div>
        </div>
        </div>
    </footer>
    <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });



    </script>
    <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>