<p dir="rtl">
בתמונה מופיעות תשע דמויות. רוב הדמויות הללו נלחמו בירושלים או שלטו עליה. רק שלוש מהדמויות שבתמונה <strong>לא</strong> קשורות לירושלים. 

מי אלו?</p>

<p><img alt="" src="../images/sculpture.jpg" title="תשע דמויות מסתוריות" /></p>
<ul>
<li>[ ]   הקטור</li>
<li>[ ]  אכילס</li>
<li>[ ]  אלכסנדר הגדול</li>
<li>[ ]  יוליוס קיסר</li>
<li>[ ]  יהושע בן נון</li>
<li>[ ]  דוד</li>
<li>[ ]  שלמה המלך</li>
<li>[ ]  יהודה המכבי</li>
<li>[ ]  קרל הגדול </li>
<li>[ ]  המלך ארתור</li>
<li>[ ]  גוטפריד מבויון</li>
<li>[ ]  ריצ'רד לב הארי</li>
</ul>