<!DOCTYPE html>
<html lang="heb">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate"/>
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./static/assets/images/favicon.ico" rel="icon">

    <title>jer quiz</title>

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
</header>

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <div class="alert alert-danger" role="alert">תשובה שגויה</div>
                </div>
                <center>
                    <p dir="rtl">
                        <a href="/try_again" class="btn btn-primary btn-lg">נסה שנית </a>
                        <a href="/full_answer" class="btn btn-default btn-lg">צפה בתשובה המלאה </a>
                    </p>
                </center>


            </div>
        </div>
    </div>
</div>
</body>

</html>